.btn-slide {
  .btn {
    display: inline-block;
    text-align: center;
    line-height: inherit;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    background-color: teal;
  }  

  .btn-min-width-200 {
    min-width: 200px
  }  

  .btn-lg {
    padding: 15px 33px;
    font-size: 16px;
  }

  .btn-lg.btn-inside-out>.before {
    padding-top: 15px
  } 

  .border-radius-5 {
    border-radius: 5px
  }
 
  .btn:focus {
    box-shadow: none;
    color: #fff
  } 

  .btn-icon:after,
  .btn-icon:before {
    padding-left: 10px
  }  

  .btn-inside-out {
    overflow: hidden;
    border: 0;
  } 
  
  .btn-inside-out>.after,
  .btn-inside-out>.before {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    overflow: hidden;
    background: #7D33FF;
    color: #fff;    
    transition: transform 0.3s;
  }

  .btn-inside-out>.before {
    top: 0;
    padding-top: 8px;
  }

  .btn-inside-out>.after {
    bottom: 0;
    line-height: 0;
  }

  .btn-inside-out>span.text {
    display: inline-block;
    -webkit-transform: scale(.1);
    transform: scale(.1);
    will-change: transform;
    opacity: 0;
    color: #fff;   
    transition: transform .3s, opacity .3s;
  }

  .btn-inside-out:hover {
    background: #26272d;    
    transition: background .4s;   
    transition-delay: 0s;
    color: #fff;
    box-shadow: 0 5px 10px -2px #26272d
  }

  .btn-inside-out:hover>.before {    
    transform: translateY(-105%)
  }

  .btn-inside-out:hover>.after {  
    transform: translateY(105%)
  }

  .btn-inside-out:hover>span.text {
    opacity: 1;    
    transform: scale(1)
  }
}