.btn-ui{
  border: 1px solid #7D33FF;
  background-color: #7D33FF;
  padding: 12px 20px;
  border-radius: 5px;
  button{
    background: transparent;
  }
  &:hover{
    background-color: #ffffff;    
  }
}