.wave-btn {
  width: 180px;
  height: 50px;  
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease 0s;  
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  cursor: pointer;
}

.wave-btn:hover {
  border-radius: 10px;
  transition: all 0.8s ease 0.2s;  
  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
  cursor: pointer;
}

.wave-btn:hover .wave-btn__waves {
  top: -50px;
}

.wave-btn__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.wave-btn__waves {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #4973ff;
  top: 0;
  left: 0;  
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
  
}

.wave-btn__waves:after,
.wave-btn__waves:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
  background-color: #101416;
  border-radius: 48%;
  animation: waves 5s infinite linear;  
}

.wave-btn__waves:after {
  background-color: #101416(0, 0, 0, 0.5);
  border-radius: 44%;
  animation: waves 10s infinite linear; 
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);    
  }

  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);    
  }
}

@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);    
  }

  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);    
  }
}

@-moz-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);    
  }

  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);    
  }
}

@-o-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);    
  }

  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);    
  }
}