.privatRules {
  display: flex;
  justify-content: flex-start;

  .rules {
    color: white;
    font-size: 12px;
    line-height: 16px;
    margin-left: 20px;

    a {
      color: white;
      font-size: 12px;
      line-height: 16px;
      text-decoration: underline;
    }
  }

  input {
    min-width: 24px;
  }
}