* {
  font-family: "Montserrat";
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}


@media (max-width: 1200px) {
  .container{
    max-width: 1000px;
  }  
}
@media (max-width: 1024px) {
  .container{
    max-width: 868px;
  }  
}
@media (max-width: 890px) {
  .container{
    max-width: 720px;
  }  
}
@media (max-width: 100px) {
  .container{
    max-width: 100px;
  }  
}


