.cloud-content {

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 67px;

    .left-side {
      background: #26272D;
      border-radius: 4px;
      max-width: 144px;
      width: 100%;
      max-height: 314px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .desctop-babl {
        margin: 20px 0px;
      }

      .mobile-babl {
        display: none;
      }

      div {
        margin-top: 28px;

        &:last-child {
          padding-bottom: 24px;
        }
      }

    }

    .modern-dataops-cloud-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      max-width: 666px;
      width: 100%;
      background: #421F8E;
      border-radius: 4px;
      margin-top: -40px;


      .white-logo-img {
        max-width: 114px;
        margin-top: 24px;
      }

      .cloud-under-logo-text {
        font-size: 14px;
        color: #ffffff;
        margin-top: 17px;
      }

      .d-flex {
        display: flex;
        justify-content: center;
        max-width: 590px;
        width: 100%;
        margin-top: 29px;

        button {
          background-color: #7D33FF;
          border-radius: 4px;
          font-size: 14px;
          color: #ffffff;
          max-width: 290px;
          width: 100%;
          min-height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;

          &:last-child {
            margin-left: 8px;
          }

          &:hover {
            background-color: #fff;
            color: #7d33ff;
            transition: 0.3s;
          }
        }
      }

      .Integrate-Integrate-Publish {
        display: flex;
        justify-content: space-between;
        max-width: 590px;
        width: 100%;
        margin-top: 24px;

        .Integrate-Integrate-Publish-Content {
          background: #7D33FF;
          border-radius: 4px;
          max-width: 147px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 120px;
          transition: 0.3s;

          &:hover {
            background-color: #fff;
            transition: 0.3s;

            div {
              color: #7d33ff;
            }

            .logo-svg-color svg g path {
              fill: #7d33ff;
            }
          }

          &>div:nth-child(2) {
            padding: 20px 0px 7px 0px;
          }

        }

        .background-ball {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 14px;
          max-width: 73px;
          width: 100%;
          margin-top: 5px;

          .pos-relative {
            background-color: #26272d;
            margin-bottom: 6px;
            min-height: 14px;
            max-width: 73px;
            width: 100%;
            display: flex;
            justify-content: space-around;

            .item-style {
              max-width: 10px;
              width: 100%;
              max-height: 10px;
              height: 100%;
              border-radius: 50px;
              margin-top: 2px;
            }

            .background-red {
              background: #ED854A;
            }

            .background-grey {
              background: #57AC84;
            }

            .background-blue {
              background: #4A8AF7;
            }
          }
        }
      }

      .black-blocks {
        display: flex;
        justify-content: space-around;
        width: 100%;

        div {
          min-width: 24px;
          min-height: 26px;
          background-color: black;
        }
      }

      .Orchestrate {
        background: #7D33FF;
        border-radius: 4px;
        max-width: 590px;
        width: 100%;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &:hover {
          background-color: #fff;
          color: #7d33ff;
          transition: 0.3s;
        }
      }

      .m-top {
        font-size: 14px;
        padding: 28px 0px;

        a {
          &:hover {
            text-decoration: underline;
          }
        }

        .arrow {
          color: white;
          margin-left: 10px;
          rotate: 45deg;
        }
      }
    }

    .right-side {
      background: #26272D;
      border-radius: 4px;
      max-width: 144px;
      width: 100%;
      min-height: 415px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .m-top-30 {
        margin-top: 30px;
        text-align: center;
      }

      .m-top-16 {
        margin-top: 16px;
        text-align: center;
      }

      .m-top-54 {
        margin-top: 54px;
        text-align: center;
      }

      .icon-d-flex {
        display: flex;
        justify-content: center;
        margin-top: 16px;

        div:nth-child(2) {
          padding: 0px 10px;
        }
      }
    }    
  }
  .bottom-block {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding: 0px 10px;

    .d-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        &:last-child{
          margin-left: 10px;
        }
      }
      &:last-child{
        margin-left: 30px;
      }
    }

  }
}

@media (max-width: 1200px) {
  .cloud-content .wrapper .modern-dataops-cloud-content {

    .d-flex,
    .Integrate-Integrate-Publish,
    .Orchestrate {
      max-width: 490px;
    }
  }
}

@media (max-width: 1024px) {
  .cloud-content .wrapper {
    .modern-dataops-cloud-content {
      margin-top: 0px;

      .d-flex {
        max-width: 340px;
        margin-top: 10px;
      }

      .Integrate-Integrate-Publish {
        max-width: 340px;

        .Integrate-Integrate-Publish-Content {
          min-height: 0px;

          .logo-svg-color {
            padding: 0px 5px;
          }
        }

        .Integrate-Integrate-Publish-Content>div:nth-child(2) {
          padding: 5px 0px;
        }

        .background-ball .pos-relative .item-style {
          max-width: 8px;
          max-height: 8px;
        }
      }

      .Orchestrate {
        max-width: 340px;
      }

      .white-logo-img {
        margin-top: 10px;
      }

      .cloud-under-logo-text {
        margin-top: 10px;
      }

      .black-blocks {
        width: 85%;
      }
    }

    div .raw-data-progressing {
      max-width: 60px;
      height: 60vh;
    }

    .left-side .desctop-babl {
      margin: 20px;
    }


    .right-side {
      min-height: 380px;

      .m-top-54 {
        margin-top: 44px;
      }
    }
  }
}

@media(max-width: 890px) {
  .cloud-content .wrapper {

    .right-side,
    .left-side {
      max-width: 120px;
    }

    .modern-dataops-cloud-content .black-blocks {
      width: 110%;
    }
  }
}

@media(max-width: 740px) {
  .cloud-content .wrapper {
    flex-direction: column;
    justify-content: flex-start;

    .left-side,
    .right-side {
      max-width: 95%;
      min-height: 100%;
    }

    div .raw-data-progressing {
      rotate: 90deg;
      margin-top: -130px;
    }

    .modern-dataops-cloud-content {
      width: 95%;
      margin-top: -130px;

      .d-flex {
        max-width: 90%;
      }

      .Integrate-Integrate-Publish {
        max-width: 90%;
      }

      .black-blocks {
        width: 100%;
      }

      .Orchestrate {
        max-width: 90%;
      }

    }

    .right-side {
      margin-top: -130px;
      flex-direction: row;
      justify-content: space-around;
      min-height: 100px;

      .m-top-16,
      .m-top-30,
      .m-top-54 {
        margin-top: 0px;
      }
    }

    .left-side {
      .desctop-babl {
        display: none;
      }

      .mobile-babl {
        display: block;
        padding: 20px;
      }
    }
  }
}

@media(max-width: 390px) {
  .cloud-content .wrapper .modern-dataops-cloud-content .Integrate-Integrate-Publish .background-ball .pos-relative .item-style {
    max-width: 5px;
    max-height: 5px;
    margin-top: 4px;
  }
}

@media(max-width: 390px) {
  .cloud-content .wrapper .modern-dataops-cloud-content .Integrate-Integrate-Publish .background-ball .pos-relative .item-style {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: none;
    }
  }
  .cloud-content .wrapper .modern-dataops-cloud-content .m-top a{
    font-size: 12px;
  }
}