.creatingValue {
  background: #421F8E;
  border-radius: 8px 8px 0px 0px;

  .title-text {
    font-size: 45px;
    line-height: 56px;
    padding: 100px 0px;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
  }

  .d-flex-content {
    display: flex;
    justify-content: flex-start;

    .left-side {
      max-width: 300px;
      width: 100%;

      button {
        background-color: transparent;
        margin-top: 33px;
        margin-left: 10px;

        .number {
          font-size: 14px;
          color: #FFFFFF;
          margin-right: 10px;
        }

        .company-name {}
      }
      .borderActive{
        background-color: #6a3ccc;
        border-radius: 5px;
        padding: 10px;        
      }
    }

    .right-side {
      .brands {
        font-size: 38px;
        line-height: 38px;
        color: #FFFFFF;
        margin-top: 33px;
      }

      .d-flex-avatar {
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;

        div {
          margin-left: 17px;

          &:first-child {
            font-size: 20px;
            line-height: 28px;
          }

          &:last-child {
            font-size: 14px;
            margin-top: 5px;
            color: #fff;
          }
        }
      }
      div:nth-child(3) {
        color: #fff;
        font-size: 37px;
        line-height: 40px;
        margin-top: 50px;
      }
      div:nth-child(4) {
        color: #fff;
        font-size: 17px;
        line-height: 24px;
        margin-top: 25px;
      }
      .btn-book-call {
        color: #fff;
        font-size: 17px;
        line-height: 24px;
        margin-top: 30px;
        &:hover{
          color: #7D33FF;
        }
        margin-bottom: 120px;
      }
    }
  }
}
@media (max-width: 890px){
  .creatingValue .d-flex-content{
    flex-direction: column-reverse;
   
    .right-side .btn-book-call{
      margin-bottom: 45px;
    }
    .left-side{
      padding-bottom: 30px;
    }
  }
}

@media(max-width: 770px){
  .creatingValue .title-text{
    padding: 50px 20px;
  }
  .creatingValue .d-flex-content{
    .right-side {
      padding: 0px 20px;
      .brands{
        font-size: calc(20px + (38 - 20) * ((100vw - 320px) / (770 - 320)));
      }
    }
    .left-side {
      padding: 0px 20px;
    }
  } 
}