.data-engineers {
  padding-bottom: 50px;

  .data-engineers-intro {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;

    .data-engineers-img {
      width: 733px;
      height: 493px;
    }

    .content-bg {
      background: #F2F2F2;
      border-radius: 4px;
      max-width: 510px;
      width: 100%;
      margin-left: 20px;

      .content {
        margin-left: 30px;
        margin-top: 30px;
        max-width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 320px;
        height: 100%;

        .Y42-for-data {
          font-size: 27px;
          color: #7D33FF;
          line-height: 36px;
        }

        .Benefit {
          font-size: 28px;
          color: #101416;
          line-height: 36px;
        }

        .Develop {
          font-size: 17px;
          color: #101416;
          line-height: 24px;
        }
      }

    }
  }

  .data-engineers-select {
    background: #F2F2F2;
    border-radius: 4px;
    margin-top: 20px;
    min-height: 72px;


    .item-select {
      display: flex;
      justify-content: space-between;
      padding-top: 25px;

      .item {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #101416;
        max-width: 355px;
        width: 100%;
        padding-bottom: 10px;
        margin: 0px 15px;
        background: transparent;
      }

      .active {
        border-bottom: 4px solid #7D33FF;
      }
    }
  }
}

@media (max-width: 1024px) {
  .data-engineers .data-engineers-intro .data-engineers-img {
    width: 470px;
    height: 380px;
  }
}

@media (max-width: 890px) {
  .data-engineers .data-engineers-intro .data-engineers-img {
    width: 380px;
    height: 360px;
  }
}

@media (max-width: 750px) {
  .data-engineers .data-engineers-intro {
    flex-direction: column;
    align-items: center;
    .data-engineers-img {
      width: 100%;
      height: 100%;
    }
    .content-bg {
      max-width: 100%;
      margin: 20px 0px;
      .content {
        margin: 20px;
        max-width: 100%;
        .Benefit {
          padding: 15px 0px;
        }
      }
    }
  } 
  .data-engineers {
    padding: 0px 20px;
  }  
}

@media (max-width: 500px) {
  .data-engineers .data-engineers-select .item-select {
    flex-direction: column;

    .item {
      padding: 15px 0px;
      max-width: 93%;
    }
  }
}

@media (max-width: 330px) {
  .data-engineers .data-engineers-intro .content-bg {
    height: 380px;
  }  
}