.empowerDataDriven{
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding-top: 50px;
  .title{
    font-size: 47px;
    color: #101416;
    margin-top: 50px;
  }
  .subtitle{
    font-size: 47px;
    color: #101416;
    margin-top: 12px;
  }
}
@media (max-width: 740px){
  .empowerDataDriven{
    .title,
    .subtitle{
      font-size: calc(30px + (47 - 30) * ((100vw - 320px) / (740 - 320)));
      padding: 0px 20px;
    }
  }
}