.footerPage {
  
  .d-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left-side {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 400px;
      width: 100%;

      .Subscribe {
        font-size: 17px;
        line-height: 24px;
        color: #FFFFFF;
      }

      .input-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        input {
          width: 100%;
          border-radius: 4px;
          font-size: 20px;
          color: black;
          padding: 0px 10px;
          line-height: 45px;

          &::placeholder {
            color: #a8afb9;
          }
        }

        button {
          max-width: 118px;
          width: 100%;
          background: #26272D;
          border-radius: 2px;
          transition: 0.3s;
          margin-left: 5px;
          color: white;

          &:hover {
            color: black;
            background-color: white;
            transition: 0.3s;
          }
        }
      }
      .mt-20{
        margin-top: 20px;
      }
      .d-flex-icon {
        display: flex;
        justify-content: space-between;
        max-width: 200px;
        margin-top: 50px;

        div {
          background-color: #656869;
          width: 50px;
          height: 50px;
          margin-top: 0px;
          border-radius: 50px;
          padding-top: 0px;

          &:hover {
            background-color: white;
          }
        }
      }

    }

    .right-side {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: 50px;

      .d-flex-colum {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;        

        .title-menu {
          font-size: 15px;
          line-height: 20px;
          color: #656869;
        }

        div {
          padding: 5px 0px;

          a {
            font-size: 15px;
            line-height: 20px;
            color: #FFFFFF;

            &:hover {
              text-decoration: underline;
            }
          }

          &:nth-child(2) {
            margin-top: 20px;
          }
        }

        
      }
    }
  }


}

.copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
  padding: 20px;

  .reserved {
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
  }
  div{    
    a {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 16px;
      color: #FFFFFF;
      margin: 0px 10px;
    }
  }  
}

@media (max-width: 900px){
  .footerPage .d-flex{
    flex-direction: column;
    .left-side{
      max-width: 100%;
      padding: 0px 20px;
    }
    .right-side{
      margin-left: 0px;
      padding: 0px 20px;
      margin-top: 20px;
    }
  }
}
@media (max-width: 600px){
  .footerPage .d-flex .right-side {
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .d-flex-colum{
      margin-top: 10px;
      margin-left: 30px;
    }
  }
}
@media (max-width: 450px){
  .copyright{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }
}