.header-on-main-page {
  padding: 20px 0px;

  .flex-space-between {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
    align-items: center;

    .header-logo-img {}

    .header-nav-bar {
      display: flex;
      justify-content: space-between;

      a {
        margin-right: 20px;

        &:hover {
          color: #7D33FF;
        }
      }

      .item-menu {
        position: relative;
        margin-right: 20px;
        padding-bottom: 10px;

        .p-top {
          padding-top: 10px;
          display: none;
          position: absolute;
          left: -70%;

          .hover-menu-subitems {
            display: none;
            justify-content: flex-start;
            flex-direction: column;
            padding: 20px 10px;
            border-radius: 5px;
            min-width: 150px;

            a {
              color: black;
              margin-top: 5px;
              padding: 5px;
              font-size: 16px;
              width: 100%;
            }

            & a:hover {
              background-color: #dbdcdc;
              border-radius: 5px;
            }

            &:before {
              border-color: transparent transparent #ffffff transparent;
              border-style: solid;
              border-width: 0 6px 6px;
              content: "";
              height: 0;
              top: -6px;
              width: 0;
              left: 50%;
              position: absolute;
              transform: translateX(-50%);
            }
          }
        }

        &:hover {
          color: #7D33FF;
          cursor: pointer;

          .hover-menu-subitems {
            display: flex;
            position: absolute;
            background-color: #ffffff;
          }

          .p-top {
            display: block;
          }
        }


      }
    }

    .header-login-and-call {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn-login {
        background: transparent;

        &:hover {
          color: #742BF2;
        }
      }

      .ml-24 {
        margin-left: 24px;
      }

      .menu-burge {
        display: none;

        #menu__toggle {
          opacity: 0;
        }

        .menu__btn {
          display: flex;
          align-items: center;
          position: fixed;
          top: 20px;
          right: 20px;
          width: 26px;
          height: 26px;
          cursor: pointer;
          z-index: 1;
        }

        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #616161;


        }

        .menu__btn>span {
          &::before {
            content: '';
            top: -8px;
          }

          &::after {
            content: '';
            top: 8px;
          }
        }



        .menu__box {
          display: block;
          position: fixed;
          visibility: hidden;
          top: 60px;
          left: -100%;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 80px 0;
          list-style: none;
          text-align: center;
          background-color: #101416;
          z-index: 20;

          box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
          transition-duration: .25s;

          .burger-menu {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 20px;

            .d-flex {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-top: 15px;

              .item-point {
                font-size: 26px;
              }

              .arrowRotate {
                transform: rotate(90deg);
                transition: 0.2s;
              }

              div {
                transition: 0.2s;
                .height-10{
                  height: 20px;
                }
              }
            }

            .d-n-block-menu {
              display: block;
              background-color: #fff;
              border-radius: 5px;
              width: 100%;
              margin-top: 15px;
              height: 0px;
              transition: 1s;

              .hover-menu-subitems {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;                

                .fs-18 {
                  font-size: 18px;
                  line-height: 24px;
                  color: #101416;
                  margin-left: 20px;
                }                
              }
            }

            .activeBlockMenu {
              height: 175px;
              transition: 1s;
            }

            a {
              font-size: 26px;
              margin: 15px 0px;
            }
          }
        }

        .menu__item {
          display: block;
          padding: 12px 24px;
          color: #333;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 600;
          text-decoration: none;
          transition-duration: .25s;

          &:hover {
            background-color: #CFD8DC;
          }
        }



        #menu__toggle:checked~.menu__btn>span {
          transform: rotate(45deg);

          &::before {
            top: 0;
            transform: rotate(0);
          }

          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }

        #menu__toggle:checked~.menu__box {
          visibility: visible;
          left: 0;
        }

      }

    }
  }
}

@media (max-width: 890px) {
  .header-on-main-page .flex-space-between .header-nav-bar {
    display: none;
  }

  .header-on-main-page .flex-space-between .header-login-and-call {

    .btn-login {
      display: none;
    }

    .ml-24 {
      display: none;
    }

    .menu-burge {
      display: block;
    }
  }
}