.introduce-with-video {
  display: flex;
  justify-content: flex-start;
  margin-top: 45px;

  .intro-video {
    min-width: 60%;

    .video-w-h {
      width: 680px;
      height: 380px;
    }
  }

  .fs-18 {
    font-size: 18px;
    line-height: 24px;
    margin-left: 20px;

  }

  .d-flex-btn {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-left: 20px;
    margin-top: 44px;

    .btn-book-a-call {
      width: 100%;
      margin-right: 20px;
      text-align: center;
      transition: 0.5s;

      &:hover {
        transition: 0.5s;
        background-color: #fff;
        color: #7d33ff;
      }
    }

    .btn-see-the-demo {
      width: 100%;
      background-color: #26272D;
      border: solid 1px #26272D;
      text-align: center;
      transition: 0.5s;
      max-height: 48px;
      margin-top: 9px;

      &:hover {
        transition: 0.5s;
        background-color: #fff;
        color: #7d33ff;
      }
    }
  }
}

@media(max-width: 1200px) {
  .introduce-with-video .intro-video .video-w-h {
    width: 580px;
    height: 330px;
  }
}

@media(max-width: 1024px) {
  .introduce-with-video .intro-video .video-w-h {
    width: 515px;
    height: 290px;
  }
}

@media(max-width: 890px) {
  .introduce-with-video .intro-video .video-w-h {
    width: 430px;
    height: 240px;
  }
}

@media(max-width: 740px) {
  .introduce-with-video {
    flex-direction: column;
    align-items: center;

    .fs-18 {
      margin-top: 20px;
    }

    .d-flex-btn {
      margin: 20px 20px;
    }
  }
}
@media(max-width: 450px) {
  .introduce-with-video .intro-video .video-w-h {
    width: 300px;
    height: 165px;
  }
  .introduce-with-video .d-flex-btn{
    flex-direction: column;
    align-items: center;
    .btn-see-the-demo{
      max-width: 200px;
    }
  }
}