.spaceDataPipelines {
  margin-top: 100px;
  background: url("/src/assets/img/spaceBaground.png");
  background-position: center;
  background-repeat: no-repeat;



  .title {
    font-size: 85px;
    line-height: 85px;
    max-width: 890px;
  }

  .d-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 50px;


    .left-side {
      font-size: 18px;
      line-height: 24px;
      color: #fff;
      max-width: 390px;
    }

    .right-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 300px;
      max-width: 300px;

      .form-input {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: #26272D;
        border-radius: 4px;
        padding: 15px;

        .email-input {
          background: transparent;
          color: #fff;
          font-size: 18px;
          line-height: 20px;

          max-width: 290px;
          width: 100%;

          &::placeholder {
            color: #586670;
          }
        }

        .error-valids {
          color: red;
          margin-top: 5px;
          font-size: 12px;
          line-height: 10px;
          display: none;
        }
      }

      .check-rules {
        display: flex;
        justify-content: flex-start;

        .rules {
          color: white;
          font-size: 12px;
          line-height: 16px;
          margin-left: 20px;

          a {
            color: white;
            font-size: 12px;
            line-height: 16px;
            text-decoration: underline;
          }
        }

        input {
          min-width: 24px;
        }
      }

      .btn-inf {
        background: #26272D;
        color: black;

        &:hover {
          background: #7D33FF;
          color: white;
        }
      }
    }
  }
}
@media (max-width: 1000px){
  .spaceDataPipelines .title {
    font-size: calc(40px + (85 - 40) * ((100vw - 320px) / (1000 - 320)));
    line-height: calc(40px + (85 - 40) * ((100vw - 320px) / (1000 - 320)));

  }
}
@media (max-width: 760px){
  .spaceDataPipelines .d-flex {
    flex-direction: column;
    align-items: center;
    .right-side{
      margin-top: 20px;
    }
  }
  .spaceDataPipelines .title {
    padding: 0px 20px;    
  }
}
@media (max-width: 420px){
  .spaceDataPipelines .d-flex .left-side{
    padding: 0px 20px;
  }
}