.titleText {
  width: 50%;
  
  .animation-div{
    display: flex;
    justify-content: flex-start;
    .first{      
      animation-name: my-style;
      animation-duration: 0.3s;
    }
    .second{
      animation-name: my-style;
      animation-duration: 0.6s;
      margin: 0px 20px;
    }
    .three{
      animation-name: my-style;
      animation-duration: 0.9s;
    }    
  }  
  .animation-div-two{
    display: flex;
    justify-content: flex-start;
    .first{      
      animation-name: my-style;
      animation-duration: 1.3s;
    }
    .second{
      animation-name: my-style;
      animation-duration: 1.6s;
      margin: 0px 20px;
    }
    .three{
      animation-name: my-style;
      animation-duration: 1.9s;
    }    
  } 
   
  @keyframes my-style {
    0%{
      transform: translateY(+50%); 
      opacity: 0;     
    }
    
    100%{
      transform: translateY(0%);  
      opacity: 1;    
    }
  }
}

@media(max-width: 740px) {
  .titleText .animation-div {
    margin-left: 20px;
    .second{
      margin: 0px 5px;
      font-size: calc(25px + (56 - 25) * ((100vw - 320px) / (740 - 320)));
    }
    .first,    
    .three
    {      
      font-size: calc(25px + (56 - 25) * ((100vw - 320px) / (740 - 320)));
    }
  }
  .titleText .animation-div-two {
    margin-left: 20px;
    .second{
      margin: 0px 5px;
      font-size: calc(25px + (56 - 25) * ((100vw - 320px) / (740 - 320)));
    }
    .first,    
    .three
    {      
      font-size: calc(25px + (56 - 25) * ((100vw - 320px) / (740 - 320)));
    }
  } 
}