.trustedIndustryLeaders {
  padding-bottom: 50px;
  margin-top: 100px;

  .title {
    font-size: 17px;
    text-align: center;
  }

  .d-flex-trust-name {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
}

@media (max-width: 670px) {
  .trustedIndustryLeaders {
    margin-top: 50px;

    .d-flex-trust-name {
      flex-wrap: wrap;
      justify-content: center;

      div {
        padding: 10px;
      }
    }
  }
}