<template>
  <div class="Home-View-Page">
    <div class="container">
      <HeaderPage />
      <TitleAnimatin class="mt-100"/>
      <cloudContent></cloudContent>
      <introduceWithVideo></introduceWithVideo>
      <trustedCompany></trustedCompany>      
    </div>
    <empowerDataDriven></empowerDataDriven>
    <creatingValue></creatingValue>
    <div class="container">
      <spaceDataPipelines></spaceDataPipelines>
      <footerPage></footerPage>
    </div>
  </div>
</template>

<script>
import HeaderPage from "../components/header.vue";
import TitleAnimatin from "../components/titleText.vue";
import cloudContent from "../components/cloudContent.vue";
import introduceWithVideo from "../components/introduceWithVideo.vue";
import trustedCompany from "../components/trustedIndustryLeaders.vue";
import empowerDataDriven from "../components/empowerDataDriven.vue";
import creatingValue from "../components/creatingValue.vue";
import spaceDataPipelines from "../components/spaceDataPipelines.vue";
import footerPage from "../components/footerPage.vue";



export default {
  components: {
    HeaderPage,
    TitleAnimatin,
    cloudContent,
    introduceWithVideo,
    trustedCompany,
    empowerDataDriven,
    creatingValue,
    spaceDataPipelines,
    footerPage,
  },
  data() {
    return {};
  },
};
</script>

<style>
</style>