<template>
  <div class="creatingValue">
    <div class="container">
      <div class="title-text inter-400">
        Creating value for <br />
        every business
      </div>
      <div class="d-flex-content">
        <div class="left-side" :class="{}">
          <button @click="changeContent(0)" :class="{borderActive: contentIndex == 0}">
            <span class="number roboto-400">01</span
            >
            <img src="../assets/img/icon-linger.svg" alt="" />
          </button>
          <button @click="changeContent(1)" :class="{borderActive: contentIndex == 1}">
            <span class="number roboto-400">02</span
            ><img src="../assets/img/icon-sharpist.svg" alt="" />
          </button>
          <button @click="changeContent(2)" :class="{borderActive: contentIndex == 2}">
            <span class="number roboto-400">03</span
            ><img src="../assets/img/icon-titan_academy.svg" alt="" />
          </button>
        </div>
        <div class="right-side">
          <div class="brands inter-400">
            {{ showContent.title }}
          </div>
          <div class="d-flex-avatar">
            <div><img src="../assets/img/avatar.png" alt="" /></div>
            <div>
              <div class="inter-400">{{ showContent.userName }}</div>
              <div class="roboto 400">{{ showContent.subName }}</div>
            </div>
          </div>
          <div class="inter-400">{{ showContent.procent }}</div>
          <div class="inter-400">{{ showContent.subTitle }}</div>
          <btn class="btn-book-call">Book a call</btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import btn from "../components/UI/btn.vue";
export default {
  components:{
    btn,
  },
  data(){
    return{
      contentIndex:0,
      contentArr:[
        {
        title:"“Y42 has been a game changer for us; it makes it easy for us to make real-time decisions as a D2C ecommerce brand.”",
        avatarImg:"Zephyr Chan",
        userName:"Head of Growth",
        subName:"Head of Growth",
        procent:"48%",
        subTitle:"Increase in their ROAS"
      },
      {
        title:"“22222222Y42 has been a game changer for us; it makes it easy for us to make real-time decisions as a D2C ecommerce brand.”",
        avatarImg:"Zephyr Chan222",
        userName:"Head of Growth222",
        subName:"Head of Growth222",
        procent:"48%222",
        subTitle:"Increase in their ROAS222"
      },
      {
        title:"“333333Y42 has been a game changer for us; it makes it easy for us to make real-time decisions as a D2C ecommerce brand.”",
        avatarImg:"Zephyr Chan333",
        userName:"Head of Growth333",
        subName:"Head of Growth333",
        procent:"48%333",
        subTitle:"Increase in their ROAS3333"
      },
      ],
    }    
  },
  computed: {
      showContent(){
        return this.contentArr[this.contentIndex];
      }
    },
  methods:{
    changeContent(number){
      this.contentIndex = number;
    }
  }
};
</script>

<style>
</style>