<template>
  <div class="data-engineers">
    <div class="data-engineers-intro">
      <img :src="engineer.img" alt="" class="data-engineers-img" />
      <div class="content-bg">
        <div class="content">
          <div class="inter-400 Y42-for-data">{{engineer.title}}</div>
          <div class="inter-400 Benefit">
            {{ engineer.benefit }}
          </div>
          <div class="inter-400 Develop">
            {{ engineer.develop }}
          </div>
        </div>
      </div>
    </div>
    <div class="data-engineers-select">
      <div class="item-select">        
        <button
          class="inter-400 item"
          :class="{ active: engineerIndex == 0 }"
          @click="() => chooseEngineer(0)"
        >
          Best practices
        </button>
        <button
          class="inter-400 item"
          :class="{ active: engineerIndex == 1 }"
          @click="() => chooseEngineer(1)"
        >
          Openly programmable
        </button>
        <button
          class="inter-400 item"
          :class="{ active: engineerIndex == 2 }"
          @click="() => chooseEngineer(2)"
        >
          Full observability
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import dataEnginier from '../assets/img/dataEnginier.png';
import dataSql from '../assets/img/dataSql.png';
import dataTrast from '../assets/img/dataTrast.png';

export default {
  data() {
    return {
      engineerIndex: 0,
      engineers: [
        {
          img: dataEnginier,          
          title: "Y42 for data engineers",
          benefit: "Benefit from software engineering best practices",
          develop:
            "Develop, test, document, and deploy your entire data infrastructure as code. Version control powered by Git.",
        },
        {
          img: dataSql,          
          title: "Y42 for data engineers",
          benefit: "Accessible via Y42's APIs",
          develop:
            "Programmatically set up entire data pipelines or simply automate mundane tasks.",
        },
        {
          img: dataTrast,          
          title: "Y42 for data engineers",
          benefit: "Transparent data pipelines",
          develop:
            "Full observability and monitoring across every data operation, ensuring you can fully trust your data.",
        },
      ],
    };
  },
  computed: {
    engineer() {
      return this.engineers[this.engineerIndex];
    },
  },
  methods: {
    chooseEngineer(index) {
      this.engineerIndex = index;
    },
  },
};
</script>

<style>
</style>