<template>
  <div class="empowerDataDriven">
    <div class="container">
      <div class="inter-400 title">Empower everyone</div>
      <div class="inter-400 subtitle">to make data-driven decisions</div>
      <dataEngineers></dataEngineers>
    </div>
  </div>
</template>

<script>
import dataEngineers from "./dataEngineers.vue";
export default {
  components: {
    dataEngineers,
  },
};
</script>

<style>
</style>