<template>
  <div class="footerPage">
    
    <div class="d-flex">
      <div class="left-side">
        <div class="Subscribe inter-400">Subscribe to our newsletter</div>
        <div class="input-footer">
          <input type="text" class="inter-400" placeholder="Your Email" />
          <button>SUBMIT</button>
        </div>
        <privatRules class="mt-20"></privatRules>
        <div class="d-flex-icon">           
          <div><a href="#" target="_blank" rel="noreferrer"><svg class="icon-facebook" focusable="false" aria-hidden="true" viewBox="0 0 32 32"><path d="M14.5 14H13V16H14.5V22H17V16H18.821L19 14H17V13.1665C17 12.689 17.096 12.5 17.5575 12.5H19V10H17.096C15.298 10 14.5 10.7915 14.5 12.3075V14Z"></path></svg></a></div>     
          <div><a href="#" target="_blank" rel="noreferrer"><svg class="icon-twiter" focusable="false" aria-hidden="true" viewBox="-11 -11 32 32"><path d="M12 1.2795C11.5585 1.4755 11.084 1.6075 10.586 1.667C11.0945 1.3625 11.485 0.88 11.6685 0.305C11.193 0.587 10.666 0.792 10.105 0.9025C9.6565 0.424 9.016 0.125 8.308 0.125C6.7185 0.125 5.5505 1.608 5.9095 3.1475C3.864 3.045 2.05 2.065 0.8355 0.5755C0.1905 1.682 0.501 3.1295 1.597 3.8625C1.194 3.8495 0.814 3.739 0.4825 3.5545C0.4555 4.695 1.273 5.762 2.457 5.9995C2.1105 6.0935 1.731 6.1155 1.345 6.0415C1.658 7.0195 2.567 7.731 3.645 7.751C2.61 8.5625 1.306 8.925 0 8.771C1.0895 9.4695 2.384 9.877 3.774 9.877C8.345 9.877 10.9275 6.0165 10.7715 2.554C11.2525 2.2065 11.67 1.773 12 1.2795Z"></path></svg></a></div>
          <div><a href="#" target="_blank" rel="noreferrer"><svg class="icon-in" focusable="false" aria-hidden="true" viewBox="0 0 32 32"><path d="M12.49 10.3043C12.49 11.0249 11.935 11.6087 11.25 11.6087C10.565 11.6087 10.01 11.0249 10.01 10.3043C10.01 9.58435 10.565 9 11.25 9C11.935 9 12.49 9.58435 12.49 10.3043ZM12.5 12.6522H10V21H12.5V12.6522ZM16.491 12.6522H14.007V21H16.4915V16.6179C16.4915 14.1814 19.506 13.9821 19.506 16.6179V21H22V15.7143C22 11.603 17.539 11.7527 16.491 13.7765V12.6522Z"></path></svg></a></div>
        </div>
      </div>
      <div class="right-side">
        <div class="d-flex-colum">
          <div class="title-menu inter-400">Pipeline Automation</div>
          <div><a href="#" class="inter-400">Integration</a></div>
          <div><a href="#" class="inter-400">Low-code model</a></div>
          <div><a href="#" class="inter-400">SQL</a></div>
          <div><a href="#" class="inter-400">Publish</a></div>
          <div><a href="#" class="inter-400">Visualization</a></div>
          <div><a href="#" class="inter-400">Orchestration</a></div>
        </div>
        <div class="d-flex-colum">
          <div class="title-menu inter-400">By Industry</div>
          <div><a href="#" class="inter-400">B2B SaaS</a></div>
          <div><a href="#" class="inter-400">Marketing agencies</a></div>
          <div><a href="#" class="inter-400">Mobile apps</a></div>
          <div><a href="#" class="inter-400">Ecommerce</a></div>
        </div>
        <div class="d-flex-colum">
          <div class="title-menu inter-400">Resources</div>
          <div><a href="#" class="inter-400">Guides</a></div>
          <div><a href="#" class="inter-400">Blog</a></div>
          <div><a href="#" class="inter-400">Customer stories</a></div>
          <div><a href="#" class="inter-400">Help center</a></div>
          <div><a href="#" class="inter-400">Documentation</a></div>
        </div>
        <div class="d-flex-colum">
          <div class="title-menu inter-400">Company</div>
          <div><a href="#" class="inter-400">Our story</a></div>
          <div><a href="#" class="inter-400">Our team</a></div>
          <div><a href="#" class="inter-400">Join us</a></div>
          <div><a href="#" class="inter-400">Press & news</a></div>
        </div>
      </div>
      
    </div>
    
  </div>
  <div class="copyright">
    <div class="inter-400 reserved">© 2023 Y42. All rights reserved</div>
    <div>
      <a href="#">Imprint</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
    </div>
  </div>
</template>

<script>
import privatRules from "../components/UI/privatRules.vue";
export default {
  components: {
    privatRules,
  },
};
</script>

<style>
</style>