<template>
  <div class="header-on-main-page">
    <div class="flex-space-between">
      <div class="header-logo-img">
        <a href="#"> <img src="../assets/img/Logo-img.png" alt="" /></a>
      </div>
      <div class="header-nav-bar">
        <div class="item-menu roboto-400">
          Products
          <div class="p-top">
            <div class="hover-menu-subitems">
              <a href="#" class="roboto-400">Guides1</a>
              <a href="#" class="roboto-400">Blog</a>
              <a href="#" class="roboto-400">Customer stories</a>
              <a href="#" class="roboto-400">Help center</a>
              <a href="#" class="roboto-400">Docuentation</a>
            </div>
          </div>
        </div>
        <div class="item-menu roboto-400">
          Solutions
          <div class="p-top">
            <div class="hover-menu-subitems">
              <a href="#" class="roboto-400">Guides2</a>
              <a href="#" class="roboto-400">Blog</a>
              <a href="#" class="roboto-400">Customer stories</a>
              <a href="#" class="roboto-400">Help center</a>
              <a href="#" class="roboto-400">Docuentation</a>
            </div>
          </div>
        </div>
        <a href="#" class="roboto-400">Pricing</a>
        <div class="item-menu roboto-400">
          Resources
          <div class="p-top">
            <div class="hover-menu-subitems">
              <a href="#" class="roboto-400">Guides3</a>
              <a href="#" class="roboto-400">Blog</a>
              <a href="#" class="roboto-400">Customer stories</a>
              <a href="#" class="roboto-400">Help center</a>
              <a href="#" class="roboto-400">Docuentation</a>
            </div>
          </div>
        </div>
        <div class="item-menu roboto-400">
          Company
          <div class="p-top">
            <div class="hover-menu-subitems">
              <a href="#" class="roboto-400">Our story</a>
              <a href="#" class="roboto-400">Our team</a>
              <a href="#" class="roboto-400">Join us</a>
              <a href="#" class="roboto-400">Press & News</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-login-and-call">
        <button class="btn-login roboto-400">Login</button>
        <btnWalve class="ml-24"></btnWalve>        
        <div class="menu-burge">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>
          <div class="menu__box">
            <div class="burger-menu">
              <div class="d-flex" @click="showBlocMenu(1)">
                <div class="roboto-400 item-point">Products</div>
                <div :class="{ arrowRotate: itemToShow == 1 }">
                  <font-awesome-icon
                    icon="fa-solid fa-arrow-right"
                    style="color: #ffffff"
                    class="height-10"
                  />
                </div>
              </div>

              <div
                class="d-n-block-menu"
                :class="{ activeBlockMenu: itemToShow == 1 }"
              >
                <div class="hover-menu-subitems">
                  <a href="#" class="roboto-400 fs-18">Our story1</a>
                  <a href="#" class="roboto-400 fs-18">Our team</a>
                  <a href="#" class="roboto-400 fs-18">Join us</a>
                  <a href="#" class="roboto-400 fs-18">Press & News</a>
                </div>
              </div>

              <div class="d-flex" @click="showBlocMenu(2)">
                <div class="roboto-400 item-point">Solutions</div>
                <div :class="{ arrowRotate: itemToShow == 2 }">
                  <font-awesome-icon
                    icon="fa-solid fa-arrow-right"
                    style="color: #ffffff"
                    class="height-10"
                  />
                </div>
              </div>

              <div
                class="d-n-block-menu"
                :class="{ activeBlockMenu: itemToShow == 2 }"
              >
                <div class="hover-menu-subitems">
                  <a href="#" class="roboto-400 fs-18">Our story2</a>
                  <a href="#" class="roboto-400 fs-18">Our team</a>
                  <a href="#" class="roboto-400 fs-18">Join us</a>
                  <a href="#" class="roboto-400 fs-18">Press & News</a>
                </div>
              </div>

              <a href="#" class="roboto-400 item-point">Pricing</a>

              <div class="d-flex" @click="showBlocMenu(3)">
                <div class="roboto-400 item-point">Resources</div>
                <div :class="{ arrowRotate: itemToShow == 3 }">
                  <font-awesome-icon
                    icon="fa-solid fa-arrow-right"
                    style="color: #ffffff"
                    class="height-10"
                  />
                </div>
              </div>

              <div
                class="d-n-block-menu"
                :class="{ activeBlockMenu: itemToShow == 3 }"
              >
                <div class="hover-menu-subitems">
                  <a href="#" class="roboto-400 fs-18">Our story3</a>
                  <a href="#" class="roboto-400 fs-18">Our team</a>
                  <a href="#" class="roboto-400 fs-18">Join us</a>
                  <a href="#" class="roboto-400 fs-18">Press & News</a>
                </div>
              </div>

              <div class="d-flex" @click="showBlocMenu(4)">
                <div class="roboto-400 item-point">Company</div>
                <div :class="{ arrowRotate: itemToShow == 4 }">
                  <font-awesome-icon
                    icon="fa-solid fa-arrow-right"
                    style="color: #ffffff"
                    class="height-10"
                  />
                </div>                
              </div>

              <div
                  class="d-n-block-menu"
                  :class="{ activeBlockMenu: itemToShow == 4 }"
                >
                  <div class="hover-menu-subitems">
                    <a href="#" class="roboto-400 fs-18">Our story4</a>
                    <a href="#" class="roboto-400 fs-18">Our team</a>
                    <a href="#" class="roboto-400 fs-18">Join us</a>
                    <a href="#" class="roboto-400 fs-18">Press & News</a>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import btn from "../components/UI/btn.vue";
import btnWalve from "../components/UI/btn-walve.vue";



export default {
  components: {
    btn,
    btnWalve,
    
  },
  data() {
    return {
      itemToShow: 0,
    };
  },
  methods: {
    showBlocMenu(numberItem) {
      if (numberItem !== this.itemToShow) {
        this.itemToShow = numberItem;
      } else {
        this.itemToShow = 0;
      }
    },
  },
};
</script>

