<template>
  <div class="introduce-with-video">
    <div class="intro-video">
      <iframe
        class="video-w-h"
        src="https://www.youtube.com/embed/pASD8JGxMmU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div>
      <div class="inter-400 fs-18">
        Y42 is the first fully managed Modern DataOps Cloud — purpose-built for
        production-ready data pipelines on BigQuery and Snowflake.
      </div>
      <div class="d-flex-btn">
        <btnSlide></btnSlide>
        <!-- <btnUi class="btn-book-a-call">Book a call</btnUi> -->
        <btnUi class="btn-see-the-demo">See the demo</btnUi>
      </div>
    </div>
  </div>
</template>

<script>
import btnUi from "../components/UI/btn.vue";
import btnSlide from "../components/UI/btn-slide.vue";
export default {
  components: {
    btnUi,
    btnSlide,
  },
};
</script>

<style>
</style>