<template>
  <div class="spaceDataPipelines">
    <div class="title inter-400">
      To production-ready data pipelines and beyond
    </div>
    <div class="d-flex">
      <div class="left-side inter-400">
        There is only one way to find out how Y42 can improve the way your
        organization works with data.
      </div>
      <div class="right-side">
        <div class="form-input" id="input-email">
          <input
            type="text"
            class="email-input inter-400"
            placeholder="Work Email*"
          />
          <div class="error-valids inter-400">
            Please complete this required field.
          </div>
        </div>
        <div class="form-input" id="input-feedback">
          <input
            type="text"
            class="email-input inter-400"
            placeholder="How did you hear aboutY42*"
          />
          <div class="error-valids inter-400">
            Please complete this required field.
          </div>
        </div>
        <div class="check-rules">
          <input type="checkbox" />

          <div class="rules inter-400">
            I agree with Y42’s
            <a href="#" class="inter-400">Terms of Services</a> and
            <a href="#" class="inter-400">Privacy Policy</a> and I consent to
            receive marketing updates that may be of interest to me.*
          </div>
        </div>
        <btnUi class="btn-inf"></btnUi>
      </div>
    </div>
  </div>
</template>

<script>
import btnUi from "../components/UI/btn.vue";
export default {
  components: {
    btnUi,
  },
};
</script>

<style>
</style>