<template>
  <div class="titleText">
    <div class="animation-div">      
      <div class="first inter-400">Mission</div>     
      <div class="second inter-400">Control</div>      
      <div class="three inter-400">for</div>
    </div>   
    <div class="animation-div-two">
      <div class="first inter-400">Your</div>     
      <div class="second inter-400">Data</div>      
      <div class="three inter-400">Pipelines</div>
    </div>    
  </div>
</template>

<script>
export default {}
</script>
