<template>
  <div class="trustedIndustryLeaders">
    <div class="inter-400 title">Trusted by industry leaders</div>
    <div class="d-flex-trust-name">
      <div class="Ekey">
        <svg
          width="53"
          height="30"
          viewBox="0 0 53 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9.62499 1.12327C6.53527 1.96734 3.4461 4.46161 2.03402 7.25275C-1.26678 13.7758 2.12768 21.6293 9.16316 23.7459C14.193 25.2593 19.8248 23.2704 22.5621 19.014C22.9976 18.337 23.3538 17.6829 23.3538 17.5602C23.3538 17.4378 19.5034 17.504 19.5034 17.504C14.4078 22.6272 7.79246 20.9987 5.25598 16.1254C4.1752 14.0493 4.17827 11.1682 5.26325 8.97938C7.69433 4.07558 13.9946 2.84686 18.0751 6.48095C19.4324 7.68973 20.6124 9.8318 20.6124 10.6913C20.6124 10.6913 19.7592 10.6913 14.4078 10.6913H8.25737V12.4914V14.2914H16.3988H24.5405C24.5405 9.47321 23.3286 6.65902 21.4673 4.59897C18.625 1.45309 13.7044 0.00920087 9.62499 1.12327ZM27.8268 12.4914V14.2914H39.7083H51.5896V12.4914V10.6913H39.7083H27.8268V12.4914ZM39.848 22.8761V28.4146H41.6652H43.4823V22.8761V17.3375H41.6652H39.848V22.8761ZM47.9553 22.8761V28.4146H49.7725H51.5896V22.8761V17.3375H49.7725H47.9553V22.8761Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="LifeMD">
        <svg
          width="96"
          height="30"
          viewBox="0 0 96 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_913)">
            <path
              d="M94.1983 4.2085H90.6149C89.8323 4.2085 89.2144 4.82508 89.2144 5.60609V9.14116C89.2144 9.92219 89.8323 10.5387 90.6149 10.5387H90.6561C91.3975 10.5387 92.0153 9.92219 92.0153 9.18227V7.00368H94.1571C94.9397 7.00368 95.5575 6.3871 95.5575 5.60609V5.56498C95.5575 4.82508 94.9397 4.2085 94.1983 4.2085Z"
              fill="white"
            />
            <path
              opacity="0.7"
              d="M90.6148 0.673218H90.5736C89.8321 0.673218 89.2143 1.2898 89.2143 2.0297V4.20829H87.0725C86.2899 4.20829 85.6721 4.82488 85.6721 5.60589V5.64699C85.6721 6.38689 86.2899 7.00347 87.0314 7.00347H90.6148C91.3973 7.00347 92.0151 6.38689 92.0151 5.60589V2.0708C92.0151 1.2898 91.3973 0.673218 90.6148 0.673218Z"
              fill="white"
            />
            <path
              d="M90.6149 4.2085C89.8323 4.2085 89.2144 4.82508 89.2144 5.60609V7.00368H90.6149C91.3975 7.00368 92.0153 6.3871 92.0153 5.60609V4.2085H90.6149Z"
              fill="white"
            />
            <path
              d="M44.5245 19.2938C44.5245 14.7722 40.9411 11.0728 36.5339 11.0728C32.0443 11.0728 28.5433 14.69 28.5433 19.2938C28.5433 22.7878 30.438 25.6241 33.6095 26.8573C37.0694 28.2138 40.9823 27.3094 43.4948 24.6376L42.5063 23.7332C40.4056 25.8707 37.2754 26.6929 34.4333 25.7885C31.962 25.0075 30.1909 22.8289 29.985 20.2393L29.9438 19.9926H44.5657L44.5245 19.2938ZM29.9026 18.595L29.9438 18.3484C30.3145 14.7311 33.5683 12.1004 37.2341 12.4703C40.3233 12.7992 42.7946 15.2244 43.1241 18.3484L43.1653 18.595H29.9026Z"
              fill="white"
            />
            <path
              d="M29.4081 10.7032H21.8706V7.74358C21.8706 5.6472 23.6005 5.52388 23.93 5.52388H27.2662V4.2085H23.93C23.8888 4.2085 20.5525 4.24961 20.5525 7.74358V10.7032H18.0812V12.0185H20.5525V27.2276H21.8706V12.0185H29.4081V10.7032Z"
              fill="white"
            />
            <path
              d="M11.5327 12.0182H14.457V27.2273H15.7751V10.7029H11.5327V12.0182Z"
              fill="white"
            />
            <path
              d="M1.31733 22.0483V4.2085H-0.000701904V22.0483C-0.000701904 27.0632 4.24172 27.1043 4.28292 27.1043H11.2026V25.7889H4.28292C3.99459 25.7889 1.31733 25.6656 1.31733 22.0483Z"
              fill="white"
            />
            <path
              d="M15.1154 4.00293C14.5388 4.00293 14.0857 4.4551 14.0857 5.03057C14.0857 5.60605 14.5388 6.05821 15.1154 6.05821C15.692 6.05821 16.1452 5.60605 16.1452 5.03057C16.1452 4.4962 15.692 4.00293 15.1154 4.00293Z"
              fill="white"
            />
            <path
              d="M44.5245 19.2938C44.5245 14.7722 40.9411 11.0728 36.5339 11.0728C32.0443 11.0728 28.5433 14.69 28.5433 19.2938C28.5433 22.7878 30.438 25.6241 33.6095 26.8573C37.0694 28.2138 40.9823 27.3094 43.4948 24.6376L42.5063 23.7332C40.4056 25.8707 37.2754 26.6929 34.4333 25.7885C31.962 25.0075 30.1909 22.8289 29.985 20.2393L29.9438 19.9926H44.5657L44.5245 19.2938ZM29.9026 18.595L29.9438 18.3484C30.3145 14.7311 33.5683 12.1004 37.2341 12.4703C40.3233 12.7992 42.7946 15.2244 43.1241 18.3484L43.1653 18.595H29.9026Z"
              fill="white"
            />
            <path
              d="M29.4081 10.7032H21.8706V7.74358C21.8706 5.6472 23.6005 5.52388 23.93 5.52388H27.2662V4.2085H23.93C23.8888 4.2085 20.5525 4.24961 20.5525 7.74358V10.7032H18.0812V12.0185H20.5525V27.2276H21.8706V12.0185H29.4081V10.7032Z"
              fill="white"
            />
            <path
              d="M11.5327 12.0182H14.457V27.2273H15.7751V10.7029H11.5327V12.0182Z"
              fill="white"
            />
            <path
              d="M1.31733 22.0483V4.86619C1.31733 4.49623 1.02901 4.2085 0.658316 4.2085C0.287618 4.2085 -0.000701904 4.49623 -0.000701904 4.86619V22.0483C-0.000701904 27.0632 4.24172 27.1043 4.28292 27.1043H10.5436C10.9142 27.1043 11.2026 26.8165 11.2026 26.4466C11.2026 26.0766 10.9142 25.7889 10.5436 25.7889H4.28292C3.99459 25.7889 1.31733 25.6656 1.31733 22.0483Z"
              fill="white"
            />
            <path
              d="M15.1154 4.00293C14.5388 4.00293 14.0857 4.4551 14.0857 5.03057C14.0857 5.60605 14.5388 6.05821 15.1154 6.05821C15.692 6.05821 16.1452 5.60605 16.1452 5.03057C16.1452 4.4962 15.692 4.00293 15.1154 4.00293Z"
              fill="white"
            />
            <path
              d="M88.6374 13.2106C88.1019 12.0185 87.3606 10.9087 86.4544 10.0044C85.5071 9.05894 84.4362 8.31904 83.2005 7.82578C81.9649 7.2914 80.6468 7.00366 79.2876 7.00366H73.1917C72.8209 7.00366 72.5327 7.2914 72.5327 7.62025V26.5699C72.5327 26.9399 72.8209 27.1865 73.1505 27.2276H79.2464C80.6057 27.2276 81.9237 26.9399 83.1594 26.4055C84.3538 25.9122 85.4659 25.1313 86.3721 24.2269C87.2782 23.2815 88.0196 22.2127 88.5551 21.0207C89.7083 18.4721 89.7083 15.6769 88.6374 13.2106ZM85.5071 19.6642C85.1776 20.4863 84.6833 21.1851 84.0654 21.8016C83.4477 22.4183 82.7062 22.9115 81.9237 23.2404C81.0999 23.6103 80.1937 23.7748 79.2876 23.7748H76.528C76.1573 23.7748 75.8689 23.487 75.8689 23.1581V10.9909C75.8689 10.6209 76.1573 10.3743 76.4868 10.3743H79.2464C80.1525 10.3743 81.0175 10.5388 81.8413 10.9087C82.665 11.2376 83.3652 11.7308 83.9831 12.3474C84.6009 12.9639 85.0952 13.7039 85.4659 14.4848C86.2073 16.1702 86.2073 18.02 85.5071 19.6642Z"
              fill="white"
            />
            <path
              d="M68.3314 7.16757L59.7231 15.7586C59.5994 15.8819 59.4347 15.923 59.2699 15.9642C59.1052 15.9642 58.9404 15.8819 58.8169 15.7586L50.2085 7.16757C49.9613 6.92094 49.5494 6.92094 49.3023 7.16757C49.1788 7.29088 49.0963 7.4553 49.0963 7.61972V26.5694C49.0963 26.9393 49.3846 27.186 49.7142 27.227H51.856C52.2267 27.227 52.515 26.9805 52.515 26.6105C52.515 26.6105 52.515 26.6105 52.515 26.5694V15.7586C52.515 15.3887 52.8033 15.1421 53.174 15.1421C53.2564 15.1421 53.38 15.1831 53.4623 15.2242L58.8169 20.568C59.064 20.8146 59.4759 20.8146 59.7642 20.568L65.1187 15.2242C65.4482 15.0598 65.819 15.1831 65.9837 15.5119C66.0248 15.5942 66.066 15.6764 66.066 15.7998V26.5694C66.066 26.9393 66.3544 27.186 66.6839 27.227H68.7845C69.1552 27.227 69.4024 26.9393 69.4024 26.5694V7.61972C69.4024 7.24978 69.114 6.96204 68.7845 6.96204C68.6197 7.00315 68.455 7.04425 68.3314 7.16757Z"
              fill="white"
            />
            <path
              d="M91.4384 27.8853C90.9442 28.3786 90.1204 28.3786 89.6262 27.8853C89.379 27.6388 89.2555 27.3099 89.2555 26.981C89.2555 26.6522 89.379 26.3233 89.6262 26.0767C90.1204 25.5835 90.9442 25.5835 91.4384 26.0767C91.9327 26.57 91.9327 27.3921 91.4384 27.8853ZM89.7497 26.2C89.5438 26.4056 89.4202 26.6933 89.4202 26.981C89.4202 27.2688 89.5438 27.5565 89.7497 27.7621C90.1615 28.2142 90.8618 28.2142 91.3149 27.7621C91.7679 27.3099 91.7679 26.6111 91.3149 26.2C90.8618 25.7479 90.1615 25.7479 89.7497 26.2ZM90.4911 26.2823C90.6147 26.2823 90.7382 26.2823 90.8618 26.3233C91.0265 26.3644 91.1089 26.5289 91.0677 26.6933C91.0677 26.8166 91.0265 26.8988 90.9442 26.981C90.8618 27.0221 90.8206 27.0221 90.7382 27.0632C90.8206 27.0632 90.903 27.1455 90.9854 27.1865C91.0265 27.2688 91.0677 27.3099 91.0677 27.3921V27.4743C91.0677 27.5154 91.0677 27.5565 91.0677 27.5976C91.0677 27.6388 91.0677 27.6388 91.0677 27.6798H90.8206V27.4743C90.8206 27.351 90.7794 27.2277 90.697 27.1455C90.6147 27.1044 90.5323 27.1044 90.4087 27.1044H90.2028V27.6798H89.9557V26.2823H90.4911ZM90.7794 26.4877C90.697 26.4467 90.5735 26.4467 90.4911 26.4467H90.2852V26.94H90.5323C90.6147 26.94 90.697 26.94 90.7794 26.8988C90.8618 26.8577 90.9442 26.7755 90.9442 26.6933C90.8618 26.6111 90.8207 26.5289 90.7794 26.4877Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_1_913">
              <rect width="96" height="30" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div>
        <svg
          width="123"
          height="30"
          viewBox="0 0 123 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <mask
            id="mask0_1_931"
            style="mask-type: luminance"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="123"
            height="30"
          >
            <path
              d="M122.87 0.272705H0.732971V29.7272H122.87V0.272705Z"
              fill="white"
            />
          </mask>
          <g mask="url(#mask0_1_931)">
            <path
              d="M16.3089 2.60275C15.8578 2.43052 15.3965 2.28612 14.9277 2.17036H14.9001L12.7282 4.43259L13.5949 5.3181L15.2419 3.58858L15.387 3.63355C17.4282 4.31873 19.1984 5.63789 20.4403 7.39947C21.6822 9.16105 22.3312 11.2733 22.2931 13.4296C22.2515 16.0957 21.1657 18.6387 19.27 20.5106C17.3742 22.3825 14.8202 23.4333 12.1584 23.4366C10.145 23.4337 8.17802 22.831 6.50757 21.7051C4.83712 20.5791 3.53876 18.9808 2.77762 17.1137C2.01649 15.2465 1.82698 13.1947 2.23322 11.2192C2.63947 9.24383 3.62309 7.43411 5.05897 6.02029C6.14952 4.94287 7.47273 4.13099 8.92637 3.64738L9.07139 3.60241L12.2067 6.97499L15.2731 9.98437C15.9269 10.6052 16.3806 11.4076 16.576 12.2886C16.7714 13.1696 16.6996 14.089 16.3697 14.9288C16.0397 15.7686 15.4669 16.4904 14.7245 17.0017C13.9821 17.513 13.1042 17.7905 12.2033 17.7984H12.1274C11.2265 17.7905 10.3485 17.513 9.60614 17.0017C8.86378 16.4904 8.29088 15.7686 7.96097 14.9288C7.63106 14.089 7.55919 13.1696 7.75459 12.2886C7.94997 11.4076 8.40373 10.6052 9.05758 9.98437L11.568 7.51806L10.6667 6.58757L8.10109 9.11268C7.07369 10.2096 6.50968 11.662 6.5271 13.1661C6.54452 14.6701 7.14205 16.1091 8.19458 17.1817C9.24712 18.2544 10.6731 18.8777 12.174 18.9211C13.6748 18.9644 15.1342 18.4246 16.2468 17.4144C16.7955 16.8719 17.2312 16.2257 17.5287 15.5131C17.826 14.8004 17.9792 14.0359 17.9792 13.2636C17.9792 12.4912 17.826 11.7266 17.5287 11.014C17.2312 10.3015 16.7955 9.65519 16.2468 9.11268L12.1274 5.06559L9.39598 2.16345H9.3649C8.89612 2.27921 8.43485 2.42361 7.98369 2.59583C6.42283 3.21729 5.01794 4.17583 3.86905 5.40319C2.72014 6.63056 1.85551 8.09657 1.33667 9.69685C0.817846 11.2971 0.65759 12.9923 0.86732 14.6617C1.07705 16.3311 1.6516 17.9336 2.55008 19.3552C3.44856 20.7768 4.64885 21.9824 6.06551 22.8864C7.48216 23.7904 9.08033 24.3702 10.7462 24.5849C12.4121 24.7996 14.1048 24.6437 15.7037 24.1283C17.3026 23.6129 18.7684 22.7509 19.9968 21.6033C21.4005 20.2783 22.4466 18.619 23.0378 16.78C23.6289 14.9409 23.746 12.9819 23.3778 11.0854C23.0097 9.18885 22.1685 7.41647 20.9326 5.9333C19.6966 4.45011 18.106 3.30436 16.3089 2.60275Z"
              fill="white"
            />
            <path
              d="M86.0955 11.9768L85.7191 11.5029C85.1783 10.9055 84.5192 10.4276 83.7838 10.0994C83.0483 9.77127 82.2528 9.60015 81.4477 9.59695C80.7166 9.58859 79.9918 9.73458 79.3208 10.0254C78.6496 10.3163 78.0473 10.7454 77.5527 11.285C76.507 12.3604 75.9286 13.8066 75.9436 15.3079C75.9436 16.8216 76.5439 18.2733 77.6124 19.3436C78.6809 20.414 80.13 21.0153 81.6411 21.0153C83.1522 21.0153 84.6013 20.414 85.6698 19.3436C86.7383 18.2733 87.3387 16.8216 87.3387 15.3079V2.16345H86.0645L86.0955 11.9768ZM84.7558 18.421C84.0917 19.0932 83.2277 19.5313 82.2938 19.6697L82.0796 19.6939C81.9381 19.6939 81.7896 19.7147 81.6411 19.7147C80.4754 19.7083 79.3591 19.2424 78.5338 18.4176C77.7084 17.5928 77.2407 16.4756 77.2316 15.3079C77.2637 14.1564 77.743 13.0628 78.5674 12.2598C79.3918 11.4567 80.4964 11.0074 81.6463 11.0074C82.7962 11.0074 83.9008 11.4567 84.7252 12.2598C85.5496 13.0628 86.0289 14.1564 86.061 15.3079C86.0655 15.8883 85.952 16.4635 85.7276 16.9987C85.5032 17.5339 85.1726 18.0177 84.7558 18.421Z"
              fill="white"
            />
            <path
              d="M121.013 11.3024C120.218 10.5063 119.206 9.96364 118.105 9.74267C117.002 9.52171 115.86 9.63232 114.82 10.0606C113.781 10.4889 112.892 11.2157 112.264 12.1495C111.636 13.0832 111.298 14.1822 111.293 15.3079V28.4523H112.566V18.5353L113.143 19.189C113.634 19.7555 114.238 20.2124 114.916 20.5303C115.594 20.8481 116.332 21.0197 117.081 21.0341C117.829 21.0484 118.572 20.9052 119.262 20.6135C119.952 20.3219 120.573 19.8885 121.085 19.3412C122.129 18.2611 122.704 16.8111 122.684 15.3079C122.692 14.5616 122.548 13.8214 122.26 13.1327C121.973 12.4441 121.549 11.8213 121.013 11.3024ZM120.208 18.3346L120.108 18.4349C119.517 19.0415 118.762 19.4612 117.936 19.6422C117.798 19.6698 117.663 19.694 117.532 19.7079C117.357 19.7283 117.18 19.7387 117.004 19.739C115.831 19.7354 114.707 19.2678 113.876 18.438C113.044 17.6082 112.574 16.4833 112.566 15.3079C112.562 14.7275 112.675 14.1523 112.9 13.6171C113.125 13.0819 113.455 12.5981 113.872 12.1948C114.278 11.782 114.761 11.4549 115.295 11.2326C115.829 11.0104 116.402 10.8977 116.979 10.9011C118.146 10.9075 119.263 11.3732 120.09 12.1978C120.915 13.0224 121.385 14.1395 121.396 15.3079C121.407 15.866 121.308 16.4207 121.104 16.9402C120.9 17.4597 120.596 17.9336 120.208 18.3346Z"
              fill="white"
            />
            <path
              d="M39.2257 10.5657C38.6029 10.1614 37.9067 9.88409 37.1769 9.74947C36.447 9.61483 35.6979 9.62557 34.9722 9.78103C34.2466 9.93651 33.5587 10.2337 32.9476 10.6556C32.3367 11.0775 31.8147 11.6158 31.4114 12.2399C30.997 12.855 30.713 13.5486 30.5771 14.2781C30.441 15.0076 30.4559 15.7571 30.6207 16.4807C30.777 17.2088 31.0768 17.8984 31.5024 18.509C31.9281 19.1196 32.4713 19.6389 33.0999 20.0365C33.9946 20.6382 35.0472 20.9608 36.1248 20.9635C36.5203 20.9618 36.9147 20.9212 37.3023 20.8425C38.6033 20.5906 39.7675 19.8709 40.5758 18.819L40.6725 18.6979L39.5985 18.0061L39.5192 18.1064C38.8962 18.8884 38.0186 19.4259 37.0399 19.6249C36.4829 19.75 35.9063 19.7594 35.3456 19.6523C34.7848 19.5452 34.2521 19.3239 33.7802 19.0023C32.8286 18.3998 32.1533 17.4449 31.9017 16.3458L31.8086 15.9376H41.7533H41.7774V15.8131C41.8721 14.8558 41.7124 13.8903 41.3147 13.0147C40.8696 12.013 40.1439 11.1623 39.2257 10.5657ZM31.8086 14.6681L31.9225 14.253C32.0431 13.7868 32.2353 13.3421 32.4922 12.9351C32.801 12.4473 33.2048 12.0268 33.6794 11.6987C34.154 11.3706 34.6898 11.1418 35.2546 11.0257C35.8168 10.8925 36.4003 10.8775 36.9686 10.9818C37.5367 11.0859 38.0772 11.3071 38.5557 11.6311C39.4946 12.2341 40.1603 13.1815 40.41 14.2703L40.5101 14.682L31.8086 14.6681Z"
              fill="white"
            />
            <path
              d="M64.431 10.5654C63.8086 10.1613 63.1126 9.88399 62.383 9.74941C61.6535 9.61483 60.9047 9.62559 60.1793 9.78106C59.4539 9.93655 58.7662 10.2337 58.1556 10.6556C57.5449 11.0774 57.0231 11.6156 56.6202 12.2395C56.2044 12.854 55.9194 13.5476 55.7834 14.2774C55.6473 15.007 55.6631 15.757 55.8295 16.4804C55.9858 17.2081 56.2851 17.8973 56.7102 18.5079C57.1353 19.1184 57.6776 19.638 58.3053 20.0363C59.2011 20.6384 60.2549 20.961 61.3337 20.9633C61.728 20.9615 62.1212 20.921 62.5076 20.8423C63.8097 20.5905 64.9751 19.8709 65.7846 18.8188L65.8778 18.6977L64.8039 18.0059L64.7245 18.1061C64.1031 18.8882 63.2265 19.4258 62.2487 19.6247C61.6917 19.7492 61.1152 19.7582 60.5546 19.6511C59.994 19.544 59.4612 19.3232 58.989 19.0021C58.0374 18.3996 57.3622 17.4446 57.1106 16.3455L57.0174 15.9374H66.9586H66.9828V15.8128C67.078 14.8551 66.9171 13.8892 66.5167 13.0144C66.0746 12.0119 65.3497 11.1606 64.431 10.5654ZM57.0174 14.6678L57.1313 14.2493L57.1831 14.066C57.3018 13.6664 57.4761 13.2856 57.701 12.9349C58.01 12.4472 58.4138 12.0268 58.8885 11.6987C59.363 11.3707 59.8987 11.1418 60.4635 11.0255C61.025 10.8925 61.608 10.8778 62.1757 10.982C62.7432 11.0861 63.2831 11.3071 63.7612 11.6308C64.7007 12.2338 65.3676 13.181 65.6189 14.27L65.7156 14.6816L57.0174 14.6678Z"
              fill="white"
            />
            <path
              d="M107.431 12.2843L106.396 13.0245H106.378L106.43 13.1317C106.746 13.8145 106.919 14.5551 106.938 15.3074C106.945 15.8876 106.833 16.4631 106.61 16.9985C106.387 17.5339 106.056 18.0178 105.64 18.4206C105.234 18.8333 104.75 19.16 104.216 19.381C103.682 19.6022 103.11 19.7132 102.532 19.7074C101.371 19.6992 100.26 19.2326 99.4399 18.4088C98.6201 17.5851 98.1579 16.4706 98.1534 15.3074C98.1437 14.7269 98.2541 14.1506 98.4776 13.6149C98.701 13.0792 99.0327 12.5955 99.4517 12.1943C100.297 11.3993 101.401 10.9373 102.559 10.8937H102.812C104.041 10.8937 104.977 11.2397 105.601 11.9315L105.705 12.0456L106.527 11.1566L106.43 11.0632C105.914 10.5703 105.303 10.1871 104.635 9.93683C103.967 9.68656 103.255 9.57434 102.542 9.60696C100.816 9.74532 99.5484 10.278 98.5504 11.2811C98.0103 11.8011 97.5829 12.427 97.2947 13.1197C97.0066 13.8124 96.864 14.5571 96.8757 15.3074C96.9122 16.7883 97.5251 18.196 98.5834 19.2304C99.6418 20.2647 101.062 20.8437 102.54 20.8437C104.019 20.8437 105.439 20.2647 106.497 19.2304C107.555 18.196 108.168 16.7883 108.205 15.3074C108.199 14.3004 107.954 13.3091 107.49 12.4158L107.431 12.2843Z"
              fill="white"
            />
            <path
              d="M71.5201 11.0638C71.0729 11.4861 70.7161 11.9954 70.4715 12.5603C70.2269 13.1252 70.0997 13.7341 70.0975 14.3499V20.7941H71.3716V14.3499C71.3753 13.6168 71.6113 12.9038 72.0458 12.3137C72.4803 11.7237 73.0907 11.2872 73.7888 11.0672L73.8854 11.0361V9.73206L73.7128 9.77702C72.8778 9.99594 72.1191 10.4412 71.5201 11.0638Z"
              fill="white"
            />
            <path
              d="M92.2795 11.0638C91.8326 11.4864 91.4764 11.9956 91.2324 12.5606C90.9884 13.1255 90.8618 13.7343 90.8603 14.3499V20.7941H92.1345V14.3499C92.1381 13.6168 92.3742 12.9038 92.8086 12.3137C93.2431 11.7237 93.8534 11.2872 94.5516 11.0672L94.6517 11.0361V9.73206L94.4791 9.77702C93.6417 9.99526 92.8807 10.4405 92.2795 11.0638Z"
              fill="white"
            />
            <path
              d="M48.7778 17.961L44.976 9.94979L44.938 9.87024H43.36L48.0492 19.6732L48.6225 20.8389L48.6293 20.8527L48.9022 20.8838L54.313 9.90829L54.3303 9.87024H52.7557L48.7778 17.961Z"
              fill="white"
            />
          </g>
        </svg>
      </div>
      <div>
        <svg
          width="160"
          height="30"
          viewBox="0 0 160 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M43.4025 4.34565L43.3727 5.7063H42.0663H40.7601L40.7602 6.36754L40.7603 7.02878L42.0665 7.05866L43.3727 7.08853L43.4025 8.4492L43.4323 9.80985L44.0956 9.77827L44.7588 9.74669L44.8122 8.41762L44.8655 7.08853L46.1718 7.05866L47.4779 7.02878V6.39412C47.4779 5.95989 47.4358 5.75798 47.3446 5.75468C47.2714 5.75202 46.6835 5.74001 46.0384 5.7281L44.8655 5.7063L44.8122 4.37723L44.7588 3.04815L44.0956 3.01657L43.4323 2.98499L43.4025 4.34565ZM17.8991 8.48077C16.1513 8.90246 14.6657 10.0853 13.8131 11.7342C13.1865 12.9459 13.1434 13.3586 13.1434 18.1408V22.4527H14.8449H16.5463L16.5775 18.2261C16.6076 14.1589 16.6174 13.9811 16.8383 13.5047C17.5706 11.925 19.5151 11.2718 21.033 12.0956C21.7102 12.4632 22.1422 12.9656 22.4222 13.7114C22.6192 14.2359 22.6333 14.5477 22.6333 18.3632V22.4527H24.3394H26.0455L26.0439 18.1199C26.0421 13.3397 26.0083 13.0135 25.38 11.7194C25.143 11.2313 24.7847 10.7664 24.1841 10.1674C23.2364 9.2225 22.4193 8.75287 21.2416 8.47599C20.3903 8.27588 18.7383 8.27832 17.8991 8.48077ZM51.903 8.67408C49.2968 9.18189 47.2574 10.9328 46.5082 13.306C46.1919 14.3079 46.1128 16.3172 46.3482 17.3722C47.1837 21.117 50.8141 23.3725 54.7862 22.6147C56.8189 22.2268 58.711 20.7898 59.6191 18.9439C60.0868 17.9936 60.3751 16.8933 60.3783 16.0465L60.38 15.5414H58.7273H57.0745L57.0732 15.8871C57.0684 17.2153 56.1767 18.634 54.942 19.2783C54.5227 19.497 54.314 19.5287 53.2892 19.5287C52.2587 19.5287 52.058 19.498 51.6364 19.2753C50.7982 18.8327 50.3787 18.4294 50.0408 17.7418C48.9632 15.5486 49.6639 13.0175 51.6116 12.0673C52.0614 11.8479 52.4031 11.7701 53.0643 11.7367C54.1 11.6845 54.8656 11.9246 55.564 12.5207C55.8088 12.7297 56.0566 12.8848 56.1147 12.8654C56.282 12.8095 58.4607 10.8409 58.4607 10.7457C58.4607 10.5803 57.1208 9.5754 56.4881 9.2663C55.1899 8.63229 53.3425 8.3937 51.903 8.67408ZM68.164 8.60049C66.4335 8.79742 65.1188 9.41719 63.953 10.5855C62.5099 12.0314 61.9374 13.481 61.9327 15.7009C61.9282 17.8354 62.4979 19.2471 63.9549 20.7101C65.3904 22.1518 66.8405 22.7121 69.1236 22.7072C70.2765 22.7046 70.5716 22.6661 71.3095 22.4218C72.5135 22.0229 73.3968 21.463 74.2793 20.5397C75.5869 19.171 76.0945 17.82 76.097 15.7009C76.0987 14.2009 75.9294 13.4411 75.3151 12.1922C74.1019 9.72596 71.1778 8.25738 68.164 8.60049ZM84.2649 8.59072C83.6688 8.70522 82.9035 8.9922 82.4239 9.28109C82.1444 9.4494 81.8968 9.58721 81.8735 9.58721C81.8501 9.58721 81.7988 9.39582 81.7592 9.1619L81.687 8.7366H80.0436H78.4003V15.6478V22.5589H80.0409H81.6815L81.7459 19.5021C81.7813 17.8209 81.8477 15.6951 81.8932 14.7783C81.9748 13.1336 81.9803 13.1061 82.2998 12.7124C83.2133 11.587 84.9898 11.614 85.6268 12.763C86.0267 13.4843 86.0775 14.1223 86.0775 18.4174V22.5589H87.837H89.5963V18.0592V13.5594L89.8896 12.9821C90.1191 12.5301 90.2861 12.3529 90.6586 12.1656C91.21 11.8883 92.0775 11.8466 92.617 12.0714C93.0608 12.2563 93.5024 12.7785 93.6436 13.2853C93.7112 13.5281 93.754 15.3944 93.7543 18.1199L93.7549 22.5589H95.5143H97.2736L97.2663 18.9174C97.2624 16.9143 97.2231 14.4138 97.1792 13.3605C97.1069 11.6284 97.0732 11.3887 96.8271 10.8526C95.831 8.6829 92.6158 7.85578 90.1011 9.12213C89.7942 9.27674 89.3365 9.54435 89.084 9.71692C88.6857 9.98933 88.5997 10.012 88.4332 9.88875C88.3278 9.8106 88.0375 9.59273 87.7882 9.40453C87.1308 8.90864 86.263 8.61549 85.3311 8.57465C84.8913 8.5553 84.4115 8.56254 84.2649 8.59072ZM105.992 8.63378C105.29 8.75159 104.569 9.00539 103.916 9.36455L103.361 9.66982L103.291 9.20315L103.221 8.7366H101.527H99.8328V17.9869V27.2373L100.179 27.2364C100.627 27.2353 103.153 26.9388 103.212 26.8806C103.236 26.8563 103.257 25.7207 103.257 24.3573C103.258 22.9938 103.282 21.8406 103.311 21.7946C103.339 21.7485 103.636 21.8485 103.97 22.0166C106.405 23.2419 109.731 22.8731 111.712 21.1589C114.577 18.6799 114.687 13.0568 111.923 10.3785C110.479 8.97892 108.101 8.27949 105.992 8.63378ZM121.585 8.62538C119.655 8.88556 117.952 9.85578 116.997 11.2397C116.51 11.9451 115.97 13.0837 115.764 13.8403C115.513 14.7624 115.511 16.5209 115.76 17.4553C116.092 18.697 116.857 20.0845 117.644 20.8693C119.575 22.7954 122.976 23.3291 125.374 22.0824C126.095 21.7076 126.17 21.7284 126.17 22.3019V22.5589H127.876H129.582V15.6478V8.7366H127.876H126.17V8.99368C126.17 9.57699 126.092 9.60464 125.411 9.26184C124.32 8.71267 122.806 8.46089 121.585 8.62538ZM138.913 8.5905C137.834 8.80241 137.495 8.89417 136.784 9.16721C136.334 9.33968 135.921 9.48087 135.867 9.48087C135.812 9.48087 135.767 9.31342 135.767 9.10874V8.7366H134.114H132.461V15.6478V22.5589H134.114H135.767L135.77 22.2134C135.771 22.0233 135.817 20.0511 135.872 17.8305L135.97 13.7931L136.271 13.2054C137.116 11.5555 139.807 11.3716 140.671 12.9046C141.13 13.7188 141.201 14.4881 141.203 18.6514L141.205 22.5589H142.911H144.617V17.6792C144.617 13.0975 144.604 12.7573 144.403 12.1099C143.818 10.2221 142.59 9.07939 140.722 8.68471C140.01 8.53425 139.368 8.50087 138.913 8.5905ZM4.50643 10.9099V13.096H4.93294H5.35946V12.1062C5.35946 10.9664 5.45968 10.7488 5.99177 10.7337C6.53132 10.7184 6.63901 10.9468 6.63901 12.1062V13.096H7.07895H7.51891L7.47264 11.8998C7.43745 10.9909 7.38093 10.6347 7.23719 10.4167C6.89705 9.90033 5.9054 9.77062 5.55341 10.1962C5.43356 10.3413 5.40489 10.2499 5.35946 9.57806L5.30614 8.78975L4.90629 8.75679L4.50643 8.72373V10.9099ZM28.3119 13.3352C28.3459 17.2577 28.3774 18.0085 28.5273 18.442C29.2804 20.6214 30.9484 22.1915 33.0829 22.7305C33.9073 22.9386 35.4817 22.9605 36.2922 22.7752C38.052 22.3729 39.7402 21.078 40.4847 19.5595C41.2144 18.0712 41.2345 17.8997 41.2375 13.096L41.2401 8.78975L39.5108 8.76052L37.7816 8.73139L37.7515 13.0136C37.7216 17.2661 37.7197 17.2991 37.4721 17.7744C37.14 18.412 36.6987 18.8567 36.0903 19.1668C35.6838 19.3739 35.4269 19.4223 34.7357 19.4219C33.9915 19.4215 33.8103 19.3815 33.315 19.1084C32.7067 18.7728 32.2329 18.2542 31.9352 17.5976C31.7715 17.2365 31.7463 16.7032 31.7179 12.9631L31.6855 8.7366H29.9789H28.2723L28.3119 13.3352ZM145.18 8.8695C145.21 8.94266 146.348 11.4904 147.709 14.5314C149.069 17.5723 150.23 20.1892 150.288 20.3466C150.378 20.5954 150.235 20.9856 149.197 23.3238C148.539 24.8038 147.912 26.2191 147.804 26.4688L147.608 26.9231L149.529 26.8941L151.45 26.8652L152.834 23.7817C153.596 22.0858 154.265 20.6025 154.319 20.4857C154.375 20.3687 154.954 19.0768 155.608 17.6148C156.26 16.1529 157.413 13.5753 158.169 11.8869C158.926 10.1986 159.545 8.79911 159.545 8.77689C159.545 8.75478 158.686 8.7366 157.637 8.7366H155.729L154.047 12.6744C153.123 14.8402 152.331 16.5746 152.289 16.5287C152.246 16.4827 151.48 14.7108 150.585 12.5909L148.959 8.7366H147.043C145.553 8.7366 145.139 8.76615 145.18 8.8695ZM2.08691 9.23611C1.91428 9.26949 1.84464 9.36998 1.82034 9.62037C1.79303 9.90129 1.73717 9.96509 1.49416 9.99294C1.23771 10.0224 1.20093 10.0725 1.20093 10.3917C1.20093 10.7265 1.22748 10.7568 1.52081 10.7568H1.8407V11.5473C1.8407 11.9821 1.88665 12.4583 1.94275 12.6055C2.1319 13.1016 2.94815 13.3431 3.60018 13.096C3.8241 13.011 3.87402 12.9304 3.84703 12.6972C3.81494 12.419 3.78924 12.4065 3.31485 12.4394C2.6981 12.4821 2.58711 12.3239 2.58711 11.4018V10.7568H3.17356H3.76002V10.3846V10.0125H3.17356H2.58711V9.58721C2.58711 9.1535 2.57111 9.14234 2.08691 9.23611ZM9.19191 10.007C8.4389 10.2348 8.02518 10.8142 8.02518 11.6406C8.02518 13.1721 10.2806 13.8028 11.0436 12.4846L11.2437 12.139H10.8509C10.6195 12.139 10.3465 12.2264 10.1869 12.3517C10.0377 12.4686 9.80877 12.5643 9.67793 12.5643C9.39184 12.5643 8.87821 12.1838 8.87821 11.9718C8.87821 11.8031 8.88366 11.8024 10.1578 11.8147C11.2961 11.8258 11.3843 11.7754 11.2295 11.2022C10.9676 10.2323 10.1099 9.72926 9.19191 10.007ZM10.1844 10.8426C10.5049 11.1171 10.3953 11.1821 9.6116 11.1821H8.85219L9.01011 10.9449C9.27562 10.5463 9.78648 10.5017 10.1844 10.8426ZM70.6163 12.2573C71.7767 12.798 72.5084 13.9001 72.6114 15.2619C72.7911 17.6383 71.2551 19.3766 68.9575 19.3969C67.9878 19.4054 67.1951 19.0607 66.4639 18.312C65.7853 17.6175 65.4983 16.8731 65.4983 15.8085C65.4983 14.316 65.8898 13.362 66.7996 12.6371C67.7541 11.8764 69.4395 11.7087 70.6163 12.2573ZM108.606 12.3319C109.888 12.9616 110.436 13.9851 110.439 15.7541C110.44 16.6233 110.401 16.8457 110.163 17.349C109.829 18.0524 109.245 18.6528 108.523 19.0342C108.044 19.2874 107.876 19.3161 106.87 19.3161C105.859 19.3161 105.698 19.2881 105.204 19.0286C103.993 18.3915 103.344 17.2191 103.336 15.6559C103.331 14.6002 103.553 13.8881 104.102 13.1968C104.804 12.3132 105.737 11.9178 107.033 11.955C107.757 11.9757 107.999 12.0338 108.606 12.3319ZM124.304 12.2698C126.952 13.6414 126.874 17.8804 124.179 19.0694C122.718 19.7139 121.046 19.3881 119.998 18.2544C119.355 17.5585 119.104 16.9384 119.048 15.904C118.964 14.3594 119.527 13.1365 120.625 12.4818C121.443 11.9943 121.717 11.9295 122.811 11.9637C123.599 11.9884 123.867 12.0432 124.304 12.2698Z"
            fill="white"
          />
        </svg>
      </div>
      <div>
        <svg
          width="168"
          height="30"
          viewBox="0 0 168 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_949)">
            <path
              d="M4.99704 16.1418C8.04441 17.8407 10.7178 16.5776 10.7178 9.43186C10.7178 2.21015 7.32526 0.276767 3.55872 1.85352C3.20512 10.938 3.19589 20.0415 3.53106 29.1272H0.65686C0.885354 22.8928 0.885354 7.66359 0.65686 1.18485C6.66985 -0.235059 13.3912 0.0786416 13.3912 9.63164C13.3912 15.7092 8.90788 18.511 4.85272 17.4461L4.99704 16.1418Z"
              fill="white"
            />
            <path
              d="M36.303 14.8405C34.089 14.6754 31.7331 14.5235 29.4614 14.6424C29.4614 20.8387 29.489 25.5394 29.6033 28.4171C32.724 28.6209 35.8513 28.3166 38.9198 27.5107L38.5747 29.2097C35.4419 29.1667 31.8185 29.1204 26.6161 29.1204C26.9616 19.7458 26.9616 10.353 26.6161 0.978233H30.2057C31.299 0.978233 34.0277 0.940259 38.3715 0.900635L38.4581 2.67717C35.545 1.86656 32.5722 1.53402 29.6021 1.68654C29.5155 5.00185 29.4602 9.34247 29.4602 13.7624C31.8214 13.8364 34.1836 13.7046 36.5327 13.3677L36.303 14.8405Z"
              fill="white"
            />
            <path
              d="M51.3955 0.790771C55.569 1.13391 59.7533 1.15982 63.9289 0.86837L64.0155 2.51942C62.3022 1.95377 60.5451 1.67657 58.783 1.6939C58.6387 12.193 58.5233 18.7822 58.8407 29.1245H56.0231C56.2516 18.822 56.195 12.0361 56.0519 1.6939C54.3954 1.65943 52.7429 1.92478 51.137 2.4831L51.3955 0.790771Z"
              fill="white"
            />
            <path
              d="M80.6015 0.986155C80.3707 7.77529 80.343 21.588 80.5715 28.3772C83.4498 28.6318 86.3394 28.2725 89.1376 27.3122L88.7948 29.2027C85.6609 29.0839 82.7819 29.1234 77.583 29.1234C77.9285 19.7486 77.9285 10.3559 77.583 0.981201L80.6015 0.986155Z"
              fill="white"
            />
            <path
              d="M110.123 0.585693C111.732 7.53167 116.102 22.4919 118.402 29.0829L115.01 29.4362C114.409 26.9102 113.086 21.5441 111.704 16.2162C109.432 16.0973 107.046 16.1783 104.832 16.2162C103.31 21.5441 101.986 26.5567 101.526 29.0417L100.004 29.4362C101.298 26.3587 105.752 10.7694 108.17 1.49377L110.123 0.585693ZM108.255 4.25599C106.184 11.5206 105.638 13.4524 105.091 15.3478C107.135 15.4667 109.431 15.5426 111.502 15.4287C110.323 10.8899 109.087 6.62526 108.255 4.25599Z"
              fill="white"
            />
            <path
              d="M135.679 13.3013C136.175 13.3829 136.675 13.4089 137.175 13.3789C140.394 13.3789 140.824 10.2633 140.824 7.53909C140.824 2.13187 137.951 0.355339 134.385 1.73727C134.042 8.17638 134.156 23.1283 134.385 29.1283H131.538C131.883 22.6148 131.711 7.61832 131.482 0.986042C132.988 0.718056 134.504 0.573608 136.023 0.553467C141.629 0.553467 143.642 3.31734 143.642 7.45818C143.642 11.6832 140.737 13.3789 139.27 13.6959C140.966 13.8907 145.192 15.8274 145.192 22.0618C145.192 26.6385 142.546 29.7193 138.668 29.7193C137.593 29.715 136.525 29.4748 135.506 29.0078L135.907 27.8239C136.674 28.6618 137.628 29.1083 138.608 29.0869C140.679 29.0869 142.318 26.7177 142.318 22.0602C142.318 18.0332 141.686 14.1268 136.972 14.1268C136.49 14.1016 136.007 14.1281 135.528 14.206L135.679 13.3013Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_1_949">
              <rect width="239" height="30" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>