<template>
  <div class="btn-slide">
    <a
      href="#"
      class="btn btn-inside-out btn-lg border-radius-5 btn-min-width-200"
      data-brk-library="component__button"
    >
      <span class="before">Book a call</span><span class="text">Click Me</span
      ><span class="after">Book a call</span>
    </a>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>