<template>
  <div>
    <a href="" class="wave-btn">
      <span class="wave-btn__text"><slot>Book a call</slot></span>
      <span class="wave-btn__waves"></span>
    </a>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>