<template>
  <div class="privatRules">
          <input type="checkbox" />
          <div class="rules inter-400">
            I agree with Y42’s
            <a href="#" class="inter-400">Terms of Services</a> and
            <a href="#" class="inter-400">Privacy Policy</a> and I consent to
            receive marketing updates that may be of interest to me.*
          </div>
        </div>
</template>

<script>
export default {

}
</script>

<style>

</style>